.logo_text{
    font-family: 'Montserrat';
    font-size: 24px;
}

.logo_text_black{
    color: black;
}

.logo_text_white{
    color: white;
}

.indent50{
    padding-left: 50px;
}

.indent100{
    padding-left: 100px;
}
